.stats_card {
  background-color: #314da6;
  color: #FFF;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: .3125rem;
  font-family: 'Cairo';
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  span {
    font-size: 4rem;
    line-height: 1;
  }
}